%img.avatar.float-left{:src =>"images/profile.jpg"}
%p
  Hello! I'm Helen. :) I'm a current undergraduate (senior!) at UC Berkeley double majoring 
  in Computer Science and Economics. While not doing schoolwork, I enjoy playing 
  board games (like Dominion and Bang!), trying new restaurants, and hiking. My
  favorite show is Arrested Development, I buy more books on Kindle than in paper, I
  get all my news from Twitter - and that's the gist of me, really.
%p
  I've been designing websites since 13, but this is my first venture
  in the world of personal sites built on Ruby on Rails... welcome!
